<div class="win-container">
    <form class="form-win" th:method="post">
        <fieldset>
            <legend class="legend">ACCESS-DENIED</legend>

            <div class="error-message">
                <h1 class="txt-bold">You don't have privilege!</h1>
            </div>

            <div class="move">
                <a class="win__cancel" th:href="@{/car-service/home}">Cancel</a>
            </div>
        </fieldset>
    </form>
</div>
