<div class="logo-center">
    <h1 class="txt-logo-index wrapper">
        CAR SERVICE
        <div class="orbit orbit-1"></div>
        <div class="orbit orbit-2"></div>
        <div class="orbit orbit-3"></div>
        <div class="orbit orbit-4"></div>
        <div class="orbit orbit-5"></div>
        <div class="orbit orbit-6"></div>
        <div class="orbit orbit-7"></div>
        <div class="orbit orbit-8"></div>
        <div class="orbit orbit-9"></div>
        <div class="orbit orbit-10"></div>
        <div class="orbit orbit-11"></div>
        <div class="orbit orbit-12"></div>
        <div class="orbit orbit-13"></div>
        <div class="orbit orbit-14"></div>
        <div class="orbit orbit-15"></div>
        <div class="orbit orbit-16"></div>
        <div class="orbit orbit-17"></div>
        <div class="orbit orbit-18"></div>
        <div class="orbit orbit-19"></div>
        <div class="orbit orbit-20"></div>
    </h1>
</div>