<div class="shadow">Team 7</div>
<div class="members">
    <div class="profile-box">
    <div class="profile-content">
        <div class="profile-picture img-o"></div>
        <h2>Ognyan Dimitrov</h2>
        <span class="profile-text-large">ALPHA JAVA TRACK STUDENT</span>
        <span class="profile-text-small">Member of Team 7</span>
        <div class="profile-connect">
            <a href="https://oddimitrov.com/" target="_blank"><i class="fa fa-globe" aria-hidden="true"></i></a>
            <a href="https://github.com/OgnyanDD" target="_blank"><i class="fa fa-github-alt" aria-hidden="true"></i></a>
            <a href="https://gitlab.com/OgnyanDD" target="_blank"><i class="fa fa-gitlab" aria-hidden="true"></i></a>
            <a href="https://www.linkedin.com/in/ognyandd/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
        </div>
    </div>
</div>
    <div class="profile-box">
        <div class="profile-content">
            <div class="profile-picture img-p"></div>
            <h2>Pavel Karaivanov</h2>
            <span class="profile-text-large">ALPHA JAVA TRACK STUDENT</span>
            <span class="profile-text-small">Member of Team 7</span>
            <div class="profile-connect padding-content">
                <a href="https://gitlab.com/Paps1" target="_blank"><i class="fa fa-gitlab" aria-hidden="true"></i></a>
                <a href="https://www.linkedin.com/in/pavel-karaivanov-0878b45b/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</div>