<meta charset="UTF-8">
<title th:if="${pageTitle}" th:text="${pageTitle}"></title>
<link rel="icon" th:href="@{/images/tab_logo.png}">
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link th:href="@{/css/datatables.min.css}" rel="stylesheet"/>
<script th:src="@{/scripts/jquery-3.4.0.js}"></script>
<link th:href="@{/css/app.css}" rel="stylesheet"/>
<link th:href="@{/css/logo.css}" rel="stylesheet"/>
<script src='https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js'></script>
<link href="https://fonts.googleapis.com/css?family=Mr+Dafoe" rel="stylesheet">
