<div class="win-container">
    <form class="form-win" th:action="@{/car-service/customer/password}" th:method="post">
        <fieldset>
            <legend class="legend">CHANGE PASSWORD</legend>

            <input th:value="${customer.id}" name="id" type="hidden">

            <label for="win-input-email" class="win__label"></label>

            <input id="win-input-email" class="win__input" name="username" th:value="${customer.email}" type="hidden"/>

            <label for="win-input-password" class="win__label"></label>
            <input id="win-input-password" class="win__input" type="password" placeholder="Old password"
                   name="password" maxlength="128" required="required"/>

            <label for="win-input-new-password" class="win__label"></label>
            <input id="win-input-new-password" class="win__input" type="password" placeholder="New password"
                   name="newPassword"  maxlength="128" required="required"/>

            <div class="inline-buttons" sec:authorize="hasRole('ROLE_ADMIN')">
                <div class="move">
                    <button class="win__submit" type="submit">Submit
                    </button>
                    <a class="win__cancel"
                       th:href="@{'/car-service/admin/customer/'+ ${customer.id} + '/edit'}">Cancel</a>
                </div>
            </div>

            <div class="inline-buttons" sec:authorize="hasRole('ROLE_USER')">
                <div class="move">
                    <button class="win__submit" type="submit">Submit
                    </button>
                    <a class="win__cancel" th:href="@{'/car-service/customer/'+ ${customer.id} + '/edit'}">Cancel</a>
                </div>
            </div>
        </fieldset>
    </form>
</div>