<div class="win-container">
    <form class="form-win" th:action="@{/car-service/reset-password}" method="post">
        <fieldset>
            <legend class="legend">RESET PASSWORD</legend>
            <br>
            <br>
            <br>
            <label for="login-input-user" class="win__label"></label>
            <input id="login-input-user" class="win__input" type="email" placeholder="Email" name="username"
                   maxlength="255" required="required"/>
            <div class="move">
                <button class="win__submit" type="submit">Submit</button>
                <a class="win__cancel" th:href="@{/car-service/index}">Cancel</a>
            </div>
        </fieldset>
    </form>
</div>
